body {
    background: linear-gradient(to right, #000046 , #1CB5E0);
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.container {
    width: 80%;
    margin: auto;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 1200px; /* Limita el ancho máximo del contenedor para grandes pantallas */
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    font-weight: 200;
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.search-bar input {
    width: 200px;
    padding: 5px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #1CB5E0;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.eleccion {
    width: 80%; /* Ajusta esto según tus necesidades */
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    transition: all 0.3s ease; /* Añade una transición suave a los cambios de estilo */
}

.eleccion:hover {
    transform: scale(1.02); /* Aumenta ligeramente el tamaño de la elección al pasar el ratón */
}

.eleccion h2 {
    color: #495057;
    margin-bottom: 0.75rem;
}

.eleccion p {
    color: #6c757d;
    margin-bottom: 0.5rem;
}

.eleccion a {
    color: #007bff;
    text-decoration: none;
}